@charset "utf-8";
/* @theme press */
/* marp base styles */
@import-theme "default";
.reset {
  font-weight: normal;
  font-size: var(--fs-m);
  line-height: var(--lh-base);
}
.bare {
  margin: 0;
  padding: 0;
  border: none;
}
.rounded {
  border-radius: 0.25em;
}
.thin {
  opacity: 0.6;
}
.bg-red,
.bg-green,
.bg-blue {
  color: white;
}
.bg-red {
  background: var(--c-red);
}
.bg-green {
  background: var(--c-green);
}
.bg-blue {
  background: var(--c-blue);
}
.red,
.green,
.blue {
  font-weight: bold;
}
.red {
  color: var(--c-red);
}
.green {
  color: var(--c-green);
}
.blue {
  color: var(--c-blue);
}
.note {
  font-size: var(--fs-s);
  display: block;
  background: var(--c-grey-lt);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1.5pt solid var(--c-grey);
}
.challenge {
  border: 3pt solid var(--c-grey);
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.challenge details summary {
  text-align: right;
}
:root {
  --fs-s: 15pt;
  --fs-m: 18pt;
  --fs-l: 24pt;
  --fs-xl: 27pt;
  --fs-max: 48pt;
  --ff-base: Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  --ff-futura: Futura, "Century Gothic", sans-serif;
  --ff-code: Menlo, Monaco, "Courier New", monospace;
  --c-black: #334;
  --c-grey: #aac;
  --c-grey-lt: #dde;
  --c-ink: #246;
  --c-red: hsl(340, 70%, 50%);
  --c-green: hsl(120, 50%, 50%);
  --c-blue: hsl(240, 50%, 50%);
  --hl: 1.5pt;
  --gap: 1.5em;
  --lh-base: 1.75;
  font-size: var(--fs-m);
  font-family: var(--ff-base);
  line-height: var(--lh-base);
  color: var(--c-black);
}
:root.cover .logo {
  font-size: var(--fs-max);
}
:root.cover .title {
  font-weight: bold;
  font-size: var(--fs-l);
  color: var(--c-ink);
}
:root.cover .author {
  text-align: right;
  color: #0066;
}
:root.small {
  --fs-s: 12pt;
  --fs-m: 15pt;
}
:root.left {
  padding-right: 1.5em;
}
:root.right {
  padding-left: 1.5em;
}
.logo {
  font-family: var(--ff-futura);
  font-weight: normal !important;
  letter-spacing: 0.1em;
  padding: 0;
}
.logo::before {
  content: "[";
  padding-right: 0.5em;
}
.logo::after {
  content: "]";
  padding-left: 0.5em;
  text-shadow: 0.6em 0 0 #80f8, 1.2em 0 0 #f206, 1.8em 0 0 #fb06;
}
.logo::before,
.logo::after {
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: 0.13em;
}
.logo b {
  font-weight: bold;
  letter-spacing: 0.3em;
  text-shadow: 0 -0.3em 0 #60f4, 0 -0.75em 0 #0f66, 0 -1.4em 0 #ff08;
}
.bg {
  padding: 0.75em 1em;
  border-radius: 1em;
  backdrop-filter: blur(0.25em);
}
.bg.white {
  background-color: #fffb;
}
.fl {
  display: block;
  margin: 0;
  margin-bottom: calc(var(--gap) * 0.5);
}
.fl.l {
  float: left;
  margin-right: var(--gap);
}
.fl.r {
  float: right;
  margin-left: var(--gap);
}
.cols {
  display: flex;
  width: 100%;
}
.cols.gap {
  gap: 1.5em;
}
.cols > * {
  display: block;
  flex: 1;
}
.cols > * img {
  display: block;
  width: 100%;
}
.cols.c21 > *:first-child,
.cols.c12 > *:last-child {
  flex: 2;
}
.cols.c32 > *,
.cols.c23 > * {
  flex: 2;
}
.cols.c32 > *:first-child,
.cols.c23 > *:last-child {
  flex: 3;
}
.grey-stripes {
  background-image: repeating-linear-gradient(135deg, white 0, var(--c-grey-lt) 1px, var(--c-grey-lt) 2px, white 3px, white 10px);
}
p + p {
  margin-top: 0.75em;
}
a code {
  background-color: var(--color-accent-fg);
  color: white;
}
h1,
h2,
h3 {
  line-height: 1.25;
}
h1,
h2 {
  color: var(--c-ink);
}
h2 {
  font-size: var(--fs-xl);
}
h3 {
  font-size: var(--fs-l);
}
h4,
h5,
h6 {
  font-size: var(--fs-m);
}
small {
  font-size: var(--fs-s);
}
em {
  font-weight: bold;
  font-style: normal;
}
em code {
  color: #4f9;
  font-weight: normal;
}
strong {
  background: linear-gradient(transparent 70%, #0f66 70%);
}
strong code {
  color: #4f9;
}
/* ---- Lists ---- */
li {
  margin-top: 0 !important;
}
ol li::marker {
  color: var(--c-grey);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-right: 0.5em;
}
kbd {
  background-color: var(--c-black);
  color: white;
  font-family: var(--ff-code);
  font-size: var(--fs-m);
  line-height: 1;
  padding: 0.1em 0.3em;
  border: 0.1em solid var(--c-grey);
  border-radius: 0.3em;
}
table td,
table th {
  border: var(--hl) solid var(--c-grey);
}
table thead td,
table thead th {
  white-space: nowrap;
}
table.numtable {
  font-family: var(--ff-code);
}
table.numtable td {
  text-align: right;
}
img {
  background-color: transparent;
}
/* highlight.js theme */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: #1e1e1e;
  color: #dcdcdc;
}
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol {
  color: #569cd6;
}
.hljs-link {
  color: #569cd6;
  text-decoration: underline;
}
.hljs-built_in,
.hljs-type {
  color: #4ec9b0;
}
.hljs-class,
.hljs-number {
  color: #b8d7a3;
}
.hljs-meta .hljs-string,
.hljs-string {
  color: #d69d85;
}
.hljs-regexp,
.hljs-template-tag {
  color: #9a5334;
}
.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst,
.hljs-title {
  color: #dcdcdc;
}
.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic;
}
.hljs-doctag {
  color: #608b4e;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: #9b9b9b;
}
.hljs-template-variable,
.hljs-variable {
  color: #bd63c5;
}
.hljs-attr,
.hljs-attribute {
  color: #9cdcfe;
}
.hljs-section {
  color: gold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #d7ba7d;
}
.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
:is(pre, marp-pre) {
  background: #1e1e1e;
  color: #dcdcdc;
  border: none;
  line-height: 1.5;
}
code {
  background: #1e1e1e;
  color: #dcdcdc;
  font-family: var(--ff-code);
}
